{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <h1>Advert creation</h1>

    {{ form_start(form) }}
        {{ form_row(form.make) }}    
        {{ form_row(form.model) }} 

    {{ form_end(form) }}
    <script>
        var $maker = document.getElementById('appbundle_advert_make');
        var $models = document.getElementById('appbundle_advert_model');
        var $form = document.querySelector('form[name="appbundle_advert"]');
        var parser = new DOMParser();
        
        $maker.onchange = function(){
            var xhr = new XMLHttpRequest();
            var formData = new FormData();
            formData.append($maker.getAttribute('name'), $maker.options[$maker.selectedIndex].value);
            
            xhr.open($form.getAttribute('method'), $form.getAttribute('action'), true);
            xhr.onload = function (e) {
                if (xhr.readyState === 4) {
                    var doc = parser.parseFromString(xhr.responseText, "text/html");
                    var new_models = doc.getElementById('appbundle_advert_model');
                    $models.innerHTML = new_models.innerHTML;
                    //$models.parentNode.replaceChild($models, new_models);
                   
                }
            };
            xhr.onerror = function (e) {
                console.error(xhr.statusText);
            };
            xhr.send(formData);
        };
        
        </script>
{% endblock %}
