<form method="GET" action="{{ path('homepage') }}" class="form-inline">
    <div class="form-group">
        <label class="control-label" for="make">Marque:</label>
        <select class="form-control" id="make-list" name="make">
            {% for make in makes %}
                <option value="{{make.id}}">{{make.name}}</option>
            {% endfor %}
        </select>
    </div>
     <div class="form-group">
        <label class="control-label" for="model">Modèle:</label>
        <select class="form-control" id="model-list" name="model" disabled=""></select>
    </div>

        <input type="submit" value="rechercher" class="btn btn-primary"/>

</form>
       
<script>
    var url = '{{ path('model_json_list') }}';
    var $maker = document.getElementById('make-list');
    var $models = document.getElementById('model-list');


    $maker.onchange = function(){
        var xhr = new XMLHttpRequest();
        var selectedMakeId = $maker.options[$maker.selectedIndex].value;
        var data = new FormData();
        data.append( 'make_id', selectedMakeId);
        xhr.open('GET', url + '?make_id=' + selectedMakeId, true);
        xhr.onload = function (e) {
            if (xhr.readyState === 4) {


                var data = JSON.parse(xhr.responseText);
                var html = '<option value="" selected>modèle</option>';

                var models = data.models;
                for (var i in models){
                    html += '<option value=' + models[i].id + '>'+ models[i].name +'</option>';
                }
                //clear current list
                $models.innerHTML =html;

               // $models.innerHTML = xhr.responseText;
                $models.disabled = false;

            }
        };
        xhr.onerror = function (e) {
            console.error(xhr.statusText);
        };
        xhr.send(data);
    };
</script>


