parameters:
    database_host: 127.0.0.1
    database_port: null
    database_name: tautof
    database_user: changeme
    database_password: changeme
    mailer_transport: smtp
    mailer_host: 127.0.0.1
    mailer_user: null
    mailer_password: null
    secret: 6695a509e44c46af5017e252c3c78d7b1b51427c
doctrine:
    dbal:
        driver: pdo_mysql
        host: '%database_host%'
        dbname: '%database_name%'
        user: '%database_user%'
        password: '%database_password%'
